<h1 style = "text-align:center">Notes</h1>
<div style = "text-align:center;">
	<%= form_tag(notes_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search Notes" %>
	<%= submit_tag "Search" , class: "btn btn-default" %>
	<% end %>
</div>
<br>
<br>
<div style = "text-align:center;">
	<%= link_to "New", new_note_path, class: "btn btn-default" %>
	<% @notes.each do |note| %>
		<div>
			<div class = "" style = "font-family: 'Roboto Condensed', sans-serif;background-color: #fff; 
background-image: 
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;box-shadow: 10px 10px 5px #888888;margin:2em;padding: 2em;width:80em;height:auto">
				<div class = "row" style = "">
					<h2><%= note.oftype %></h2>
				</div>

				<div class = "row" style = "">
					<div style = "" class = "col-xs-4">
						<%= image_tag note.image.url(:medium) , class: "" %>
					</div>
					<div class = "col-xs-8" style = "display:inline-block">
						<table class ="col-xs-8" style = "font-size:1.6em">
							<tr>
								<td><strong>Name:</strong></td>
								<td class = "longer-td"><%= note.name %></td>
							</tr>
							<tr>
								<td><strong>Location:</strong></td>
								<td class = "longer-td"><%= note.location %></td>
							</tr>
							<tr>
								<td><strong>Account:</strong></td>
								<td class = "longer-td"><%= note.account %></td>
							</tr>
							<tr>
								<td><strong>Title:</strong></td>
								<td class = "longer-td"><%= note.title %></td>
							</tr>
							<tr>
								<td><strong>Opportunity Size:</strong></td>
								<td class = "longer-td"><%= note.opportunity %></td>
							</tr>
							<tr>
								<td><strong>About:</strong></td>
								<td class = "longer-td"><%= nl2br(h(note.about)).html_safe %></td>
							</tr>
							<tr>
								<td><strong>BD:</strong></td>
								<td class = "longer-td"><%= note.bd %></td>
							</tr>

						</table>

					</div>
					<div style = "margin:1em">
						<div>
							<%= link_to "Edit", edit_note_path(note), class: "btn btn-default" %> <%= link_to "delete", note, method: :delete ,data: { confirm: "Are you sure?" } , class: "btn btn-danger" %>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	<br>
	<% end %>
</div>
